<div class="container-fluid ">
  <div class="row h-auto  ">
    <div class="col-  " id="side">
      <!--<app-side-nav></app-side-nav>-->


      <nav class="container sticky-top" id="sidebar">
        <ul class="list-unstyled components">
          <h6>Toute la Tunisie</h6>
          <li>
            <div class="form-group">
              <select (change)="getVille($event)" name="gouvernorat" class="form-control" >
                <option *ngFor="let g of gov" [value]=g.name>
                  {{g.name}}
                </option>
              </select>

            </div>
          </li>
          <li>
            <div class="form-group" >
              <select (change)="changeVille($event)" name="ville"  class="form-control" >
                <option>Ville</option>
                <option *ngFor="let v of ville" [value]="v">
                  {{v}}
                </option>
              </select>
            </div>
          </li>
        </ul>


        <ul class="list-unstyled components" *ngIf="categories" >

          <h6>Nos Catégories</h6>
          <li>
            <div class="form-group" >
              <select  name="currentCategorie" class="form-control"   (change)="getSubCategories($event)" >
                <option  [value]="cat.nom" *ngFor="let cat of categories;let i = index" [(ngModel)]="currentCategorie">
                  {{cat.nom}}
                </option>
              </select>

            </div>
          </li>
          <li>
            <div class="form-group" >
              <select (change)="getAnnoncesBySousCategorie($event)" name="currentSubCatgorie"  class="form-control" >
                <option>sous categorie</option>
                <option *ngFor="let scat of subCatgories"  routerLink="sc/{{scat.nom}}" [value]="scat.nom">
                  {{scat.nom}}
                </option>
              </select>
            </div>
          </li>

        </ul>
        <hr>

     </nav>

    </div>


    <div class="col-9  ">
      <app-bienvenue *ngIf="!result && !recherche"></app-bienvenue>
      <div>

        <div class="container justify-content-center ">
          <div class="row justify-content-center">
            <app-card *ngFor="let annonce of annonces" [annonce]="annonce"></app-card>

          </div>
        </div>

      </div>
    </div>
  </div>
 </div>
